/* =============================================================================
   Text Styles
   ========================================================================== */
/* For table height */
html, body, #container, .slide, #stage {
   height: 100%;
   overflow: hidden;
}

#stage {
   text-align: center;
   width: 100%;
   font-size: 3.5em;
}

#blocker {
   background: #EEE;
}

td {
   background: gray;
   border: 5px solid white;
}