/* =============================================================================
   General Styles
   ========================================================================== */
/* For table height */
html, body, #container, #main, .slide, table {
   height: 100%;
   overflow: hidden;
   color: #111;
}
table {
   text-align: center;
   width: 100%;
   font-size: 3.5em;
}

/* =============================================================================
   Test Styles
   ========================================================================== */
.slide {
   position: relative;
}



#blocker {
   background: #EEE;
}

#test-table td {
   background: gray;
}

.thumbnail {
   background-position: cover;
   width: 200px;
   height: 200px;
}

/* =============================================================================
   Result Styles
   ========================================================================== */
#results-slide {
   overflow: scroll;
}
#results-table {
   font-size: 1em;
   height: auto;
}

#results-table td {
   border: 1px solid #CCC;
}

#results-table .results-small {
   font-size: 1em;
}

#results-table .results-small td {
   height: auto;
}

#results-table td.results-resp {
   text-align: right;
}
#results-table td.results-orig {
   text-align: left;
}
/* =============================================================================
   Input Form
   ========================================================================== */
#input-table {
   width: 100%;   
}

#input-form-instruction {
   width: 400px;   
   height: 60px;
   padding-top: 10px;
   position: absolute;
   text-align: center;
   font-size: 1.5em;
   left: 50%;
   top: 50%;
   margin-left: -200px;
   margin-top: -35px;
   border: 1px solid #AAA;
   background: rgba(255,255,255,0.5);
   overflow: hidden;

  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#input-form-instruction a {
   text-decoration: none;
   color: #111;
   height:120px;
   display: block;
   margin-top: 0;
}

#input-form-instruction a span.subtitle {
   color: #444;
   font-size: 0.85em;
}

#input-form-instruction a span.special {
   margin-top: 2em;
}

#input-form-instruction:hover {
   background: #00bf00;
}

#input-form-instruction:hover a {
   margin-top: -60px;
}

#input-slide {
   line-height: 1;
}

#input-slide input:hover {
   background: #DDD;
   cursor: pointer;
}

#input-table input {
   text-align: center;
   width: 100%;
   height: 100%;
   border: 0;
}

#input-slide input:hover {
   border: 0;
   outline: 0;
}

#info-slide {
   text-align: center;
   font-size: 1em;
}

#info-slide h3 {
   margin-top: 3em;
}

#info-slide p {
   font-weight: bold;   
}

#info-slide a {
   margin-top: 4em;
   display: block;
   text-decoration: none;
   background: #00bf00;
   color: #FFF;
   font-weight: bold;
   padding: 10px;
}